/* PALETA DE COLORES - ROYALPETTS STORE */

:root {
    --color-azul: #00b9ec;
    --color-verde: #32f4bb;
    --color-rosa: #ff7db2;
    --color-naranja: #fe9e5b;
    --color-amarillo: #ffea20;
}



